@mixin FAControl() {
  font-size: 50px;
  cursor: pointer;
  color: white;
  font-size: 50px;
  cursor: pointer;

  &:hover {
    text-shadow: 3px 3px 3px black;
    color: blue;
  }


}

.Index {
  &__Video {
    width: 100vw;
    bottom: 0px;
    position: absolute;
    left: 0px;
    z-index: 1;
  }
  &__VideoBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(100%);
  }
  &__Video-Holder {

    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  &__Video-Reactions {
    position: absolute;
    display: block;
    top: 0vh;
    right: 0vw;
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-top: 16px;
    z-index: 2;
  }
  &__Video-Description {
    text-align: left;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0vh;
    left: 0vw;
    padding: 32px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 18px;
    max-width: 200px;
    background-color: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-right-radius: 32px;
    z-index: 2;
  }
  &__Video-Skip {
    @include FAControl();
  }
  &__Video-Title {
    font-size: 24px;
  }
  &__Video-Subtitle {
    font-size: 12px;
  }
  &__Video-Reaction {
    position: relative;
    margin-right: 8px;
    font-size: 32px;
    color: white;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;

    &--Description {
      opacity: 0;
      transition: opacity 0.25s;

      &.Showing {
        opacity: 1;
      }
    }

    &:hover {
      color: blue;
    }
  }
  &__Video-PlayPause {
  }
  &__Video-Progress {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 300px;
    height: 100px;

  }
  &__Video-Progress-Canvas {
    position: absolute;
    left: 100px;
    width: 100px;
    height: 100px;
    top: 0px;
    z-index: 2;
  }
  &__Video-Controls {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    z-index: 2;
  }
  &__Video-Control {
    flex: 1 1 0px;
    padding: 25px;
    @include FAControl();
    z-index: 2;
  }
  &__Video-LastImageModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    left: 15vw;
    top: 15vh;
    width: 70vw;
    height: 70vh;
    z-index: 10000;
    padding: 16px;
    background-color: white;
    box-shadow: 5px 5px 5px black;

    &--Button {
      flex: 1 1 auto;
      height: 32px;
    }
  }
  &__Video-LastImage {
    flex: 1 1 auto;
    margin-bottom: 8px;
    width: 100%;
    max-height: calc(100% - 32px);
  }
}

@media screen and (orientation:portrait) {
  .Index {
    &__Video {
    }
    &__Video-Holder {
      width: 100vh;
      height: 100vw;
      
    }
  }
}